Repository bischoff99/multiship, changes with the owners that .github/CODEOWNERS names for each.
All owners: @multiship/maintainers, @multiship/backend-team, @multiship/api-owners, @multiship/security-team, @multiship/frontend-team, @multiship/web-owners, @multiship/database-team, @multiship/providers-team, @multiship/devops-team, @multiship/documentation-team

feat: Major improvements and fixes
  apps/api/src/env.js
  apps/api/src/routes/health-simple.ts
  apps/api/src/routes/health.ts
  apps/api/src/routes/metrics.ts
  apps/api/src/routes/shipments.ts
  apps/api/src/server.ts
  package.json
  packages/providers/jest.config.minimal.js
  packages/providers/package.json
  packages/providers/src/adapters/easypost-adapter.ts
  packages/providers/src/adapters/shippo-adapter.ts
  packages/providers/src/adapters/veeqo-adapter.ts
  packages/providers/src/shippo.ts
  packages/providers/src/test/config/jest.config.js
  packages/providers/src/test/integration/veeqo-adapter.test.ts
  packages/providers/src/test/setup/test-setup.ts
  packages/providers/src/test/simple.test.js
  packages/providers/src/test/simple.test.ts
  packages/providers/src/test/unit/veeqo-adapter.test.ts
  packages/providers/src/test/veeqo-verification-README.md
  packages/providers/src/test/verify-veeqo-integration.ts
  pnpm-lock.yaml
Owners: @multiship/backend-team, @multiship/api-owners, @multiship/devops-team, @multiship/maintainers, @multiship/providers-team, @multiship/documentation-team

Fix: Update Jest configuration for timer and fetch mocking
  packages/providers/jest.config.js
Owners: @multiship/backend-team, @multiship/providers-team

feat: Add global mocks setup for fetch and timer mocking
  packages/providers/src/test/setup/global-mocks.ts
Owners: @multiship/backend-team, @multiship/providers-team

fix: Update test setup to work with global mocks
  packages/providers/src/test/setup/test-setup.ts
Owners: @multiship/backend-team, @multiship/providers-team

fix: Update TestTimeUtils to use Jest fake timers
  packages/providers/src/test/test-utils.ts
Owners: @multiship/backend-team, @multiship/providers-team

fix: Update circuit breaker tests for Jest fake timers
  packages/providers/src/test/unit/circuit-breaker.test.ts
Owners: @multiship/backend-team, @multiship/providers-team

fix: Update Veeqo adapter tests for proper HTTP mocking
  packages/providers/src/test/unit/veeqo-adapter.test.ts
Owners: @multiship/backend-team, @multiship/providers-team

feat: Add test utility scripts to package.json
  packages/providers/package.json
Owners: @multiship/devops-team, @multiship/maintainers

docs: Add test fixes implementation summary
  TEST_FIXES_SUMMARY.md
Owners: @multiship/maintainers, @multiship/documentation-team

.github/CODEOWNERS:

# CODEOWNERS for multiship project
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Global owners - can review all changes
* @multiship/maintainers

# API Backend (Fastify)
apps/api/ @multiship/backend-team @multiship/api-owners
/apps/api/src/routes/ @multiship/api-owners @multiship/backend-team
/apps/api/src/middleware/ @multiship/backend-team @multiship/security-team

# Web Frontend (Next.js)
apps/web/ @multiship/frontend-team @multiship/web-owners
/apps/web/app/ @multiship/frontend-team

# Database Package (Prisma)
packages/db/ @multiship/backend-team @multiship/database-team
/packages/db/prisma/ @multiship/database-team
/packages/db/src/services/ @multiship/backend-team @multiship/database-team

# Providers Package (Shipping integrations)
packages/providers/ @multiship/backend-team @multiship/providers-team
/packages/providers/src/adapters/ @multiship/providers-team
/packages/providers/src/cache/ @multiship/backend-team @multiship/providers-team
/packages/providers/src/config/ @multiship/backend-team @multiship/devops-team
/packages/providers/src/monitoring/ @multiship/devops-team @multiship/providers-team
/packages/providers/src/errors/ @multiship/backend-team @multiship/providers-team

# Configuration files
/.github/ @multiship/devops-team @multiship/maintainers
package.json @multiship/devops-team @multiship/maintainers
pnpm-workspace.yaml @multiship/devops-team @multiship/maintainers
tsconfig*.json @multiship/backend-team @multiship/frontend-team
docker-compose.yml @multiship/devops-team @multiship/backend-team

# Documentation
*.md @multiship/maintainers @multiship/documentation-team
/docs/ @multiship/documentation-team

# CI/CD and deployment
/.github/workflows/ @multiship/devops-team
**/Dockerfile* @multiship/devops-team
**/*.dockerfile @multiship/devops-team

# Security related files
**/.env* @multiship/security-team @multiship/devops-team
**/security.ts @multiship/security-team
**/auth* @multiship/security-team @multiship/backend-team
